-- Example 0
4
cat
dog
pig
mouse
2
cat
pig
2
dog
cat

8/3/3
-- Example 1
1
mouse
2
cat
pig
2
dog
cat

3/5/5
-- Example 2
2
dog
mouse
2
dog
pig
2
dog
cat

4/4/4
-- Example 3
7
bcdbb
aaccd
dacbc
bcbda
cdedc
bbaaa
aecae
7
bcdbb
ddacb
aaccd
adcab
edbee
aecae
bcbda
9
dcaab
aadbe
bbaaa
ebeec
eaecb
bcbba
aecae
adcab
bcbda

14/14/21
